html {
  background: url('./assets/images/blackhole.jpg');
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Boogaloo', cursive; */
  font-family: 'Libre Franklin', sans-serif;
  min-width: 550px;
  overflow: hidden;
}
