body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;
}

a {
  color: #00B7FF;
}

.canvas {
  height: 100%;
  width: 100%;
}